{% extends 'admin/admin_index.html' %}

{% block title  %}Add Coffee{% endblock %}

{% block admin_main %}
{% from "_formhelper.html" import render_field %}

<div class="container" style="width: 350px">
  <form method="post" autocomplete="off" enctype='multipart/form-data'>
      {{ render_field(form.name, edit) }}
      {{ render_field(form.description, edit) }}
      {{ render_field(form.price, edit) }}
      {{ render_field(form.photo, edit) }}
      {{ render_field(form.is_available, edit)}}
    {% if edit %}
    <input class="btn btn-primary" type="submit" value="Save">
    {% endif %}
  </form>
</div>
{% endblock %}