<html lang="en"><head>
  <meta charset="UTF-8">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <style>
    .menu-item{
      max-width: 300px;
      min-width: 200px;
    }
  </style>

  <title>Title</title>
</head>
<body>
  <div class="main">
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4">Coffee machine</span>
        </a>

        <ul class="align-items-center nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>


          <li class="nav-item"><a href="#" class="nav-link ">Archive</a></li>
          <li class="nav-item"><a href="#" class="nav-link ">System Settings</a></li>



          <div class="ms-5 nav-item">
            <ul class="nav align-items-center bg-secondary rounded" style="--bs-bg-opacity: .2;">
              <li class="nav-item"><span class="p-3 fw-semibold">Nikita Yezhikhin</span></li>
              <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
            </ul>
          </div>

        </ul>
      </header>
    </div>
  </div>
  <div class="container">

    <div class="container border rounded shadow p-4" style="width: 500px;">
      <table class="table">
        <tbody>
          <tr>
            <th>Username: </th>
            <th>{{user.username}}</th>
          </tr>
          <tr>
            <th>Password: </th>
            <th>************</th>
          </tr>
          <tr>
            <th>Name: </th>
            <th>{{user.user.name}}</th>
          </tr>
          <tr>
            <th>Surname: </th>
            <th>{{user.user.surname}}</th>
          </tr>
          <tr>
            <th>Balance: </th>
            <th>{{user.balance}}</th>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</body></html>