{% extends 'base.html' %}

{% block title  %}Account{% endblock %}

{% block main %}
<div class="container border rounded shadow p-4" style="width: 500px;">
      <table class="table">
        <tbody>
          <tr>
            <th>Username: </th>
            <th>{{current_user.username}} </th>
            <th></th>
          </tr>
          <tr>
            <th>Password: </th>
            <th>************</th>
            <th><a href="{{url_for('account.change_password')}}" class="">change</a></th>
          </tr>
          <tr>
            <th>Name: </th>
            <th>{{current_user.user.name}}</th>
            <th><a href="{{url_for('account.change_personal_data')}}" class="">change</a></th>
          </tr>
          <tr>
            <th>Surname: </th>
            <th>{{current_user.user.surname}}</th>
            <th><a href="{{url_for('account.change_personal_data')}}" class="">change</a></th>
          </tr>
          <tr>
            <th>Balance: </th>
            <th>{{current_user.balance}}$</th>
            <th><a href="{{url_for('account.topup_balance', balance=5)}}" class="">top up</a></th>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}